src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
	
	
	<flow name="api-main">
		<http:listener
			config-ref="api-httpListenerConfig" 
			path="/api/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="api-config" />
		<error-handler ref="error-handling" />
	</flow>
	
	
	<flow name="api-console">
		<http:listener
			config-ref="api-httpListenerConfig"
			path="/console/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="api-config" />
		<error-handler ref="error-handling" />
	</flow>
	
	
	<flow name="get:\items:api-config">
		<flow-ref
			doc:name="get:\items"
			doc:id="cd015e0d-c549-4c95-b234-4a5cc4d46186"
			name="get:\items" />
	</flow>
	
	
	<flow name="get:\items\(itemId):api-config">
		<flow-ref
			doc:name="get:\items\(itemId)"
			doc:id="7fe9b54d-a454-401e-bbe1-c30d76805ecc"
			name="get:\items\(itemId)" />
	</flow>
	
	
	<flow name="post:\items:application\json:api-config">
		<flow-ref
			doc:name="post:\items:application\"
			doc:id="b5367c9a-3d20-45a6-89ff-ee95e4837b4a"
			name="post:\items:application\" />
	</flow>
	<flow name="delete:\items\(itemId):api-config" doc:id="1bc35b86-f6f0-4b42-b08d-a85e68e6553e" >
		<flow-ref doc:name="delete:\items\(itemId)" doc:id="3ab4c688-64a0-409c-8482-a914d74089d0" name="deleteFlow" />
	</flow>
</mule>
